.container{
    display: flex;
    flex-direction: column;
}

.main{
    margin: 50px 50px 10px;
}

.main__headline{ 
    display: grid; 
    grid-template-columns: 40px repeat(4, 200px);
    font-weight: 700;
    text-align: center;
}

.main__header{
    width: 200px;
}

.main__header_numb{
    width: 40px;
}

.main__header_site{
    width: 100px;
    padding: 0px 20px;
}

.table__cell_numb,
.table__cell_site,
.table__cell{
    border: 1px solid rgb(7, 2, 53);
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    width: 200px;
}

.table__cell_numb{
    width: 30px;
}

.table__cell_site{
    width: 100px;
}

.table__button{
    border-radius: 25px;
    border: none;
    padding: 5px 10px;
    margin: 3px 5px;
    cursor: pointer;
    background-color: rgb(197, 196, 196);
}

.table__button:hover,
.add__buttons-btn:hover {
    background-color: brown;
    color: white;
}

.table{
    width: 90vw;
}

.main__btn-container{
    display: flex;
    justify-content: center;
    width: 60vw; 
}
.main__button{
    height: 30px;
    width: 30vw;
    border-radius: 25px;
    cursor: pointer;
}

.add{
    width: 60vw;
    min-height: 50vh;
    margin:50px auto ;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background:  linear-gradient(90deg, rgb(255, 206, 153) 0%, rgb(243, 235, 229) 55%, rgb(243, 185, 158) 100%);
    box-shadow: 0 4px 108px 0 rgb(0 0 0), 0 6px 20px 0 rgb(0 0 0 / 76%);
}

.add__header{
    text-align: center;
}

.add__input {
    border-radius: 25px;
    margin: 10px 20px;
    background-color: rgb(255, 255, 255);
    height: 20px;
    padding: 5px;
    border: 1px solid rgb(243, 107, 107);
}

.add__buttons-container{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: end;
}

.add__buttons-btn {
    border-radius: 25px;
    border: none;
    padding: 5px 10px;
    margin: 3px 5px;
    cursor: pointer; 
    background-color: rgb(197, 196, 196);
}

.modal-edit{
    position: absolute;
    top: 60px;
    left: 60px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.5s;
}
@keyframes slide-in {
    from {
    transform: translateY(-150px);
    }
    to {
    transform: translateY(0);
    }
}

.modal-add{
    position: absolute;
    top: 60px;
    left: 60px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.5s;
}

.error {
    line-height: 10px;
    font-size: 12px;
    color: #c71515;
    margin: 0px 20px 10px;
}

.disabled-btn, 
.disabled-btn:hover { 
    background-color: rgb(104, 102, 102);
    border-radius: 25px;
}

.italic-data {
    font-weight: 600;
    font-style: italic;
}